#projects{
    background-image: linear-gradient(black, grey, black);
    padding: 0% 14% 0 14%;
  
    padding-top:100px;
    padding-bottom: 80px;
  }
.slider-btn {
    margin-top:30px;
    /* float:left; */
    height:50px;
}
.slider {
    object-fit: contain;
    
} 
img{
    object-fit: contain;
}